$body-color: blue;
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: $body-color;
  text-align: center;
  background-color: lightblue;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
//ClockStuff
.clock {
  background: #fff url(/src/styles/ios_clock.svg) no-repeat center;
  height: 20em;
  position: relative;
  width: 20em;
  border: 2px;
  margin: auto;
  border-color: #000;
  border-style: solid;
  border-radius: 50%;
}
.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hours {
  background: #000;
  height: 30%;
  left: 48.75%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 100%;
  width: 2.5%;
}
.minutes {
  background: #000;
  height: 35%;
  left: 49%;
  position: absolute;
  top: 15%;
  transform-origin: 50% 100%;
  width: 2%;
}
.seconds {
  background: rgb(255, 0, 0);
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 5%;
  transform-origin: 50% 100%;
  width: 1%;
  //z-index: 8;
}
@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}
.hours-container {
  animation: rotate 43200s infinite linear;
}
.minutes-container {
  animation: rotate 3600s infinite steps(60);
}
.seconds-container {
  animation: rotate 60s infinite steps(60);
}


//CalculatorStuff
.task2{
  margin-top: 30px;
}
.calc{
  border: 2px solid black;
  border-radius: 5px;
  background-color: lightgray;
  padding: 3px;
  margin: auto;
  width: 200px;
}
.calcTable{
  margin:auto;
}
.textview{
  width: 165px;
  height: 30px;
  text-align: end;
}
.button{
  width: 40px;
  height: 40px;
}


//RockPaperScissor
.task3{
  margin-top: 30px;
}
.choices{
  margin-top: 15px;
  text-align: center;
}
.choice{
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border: 4px solid white;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.gameImg{
  padding: 10%;
  width: 100%;
  height: 100%;
  // background-color: 
  position: absolute;
  top:0;
  left:0;
  border-radius: 50%;
  transition: all 0.6s ease;
}
.gameImg:hover{
  background-color: #fff;
}
.rock{
  padding: 20%;
}
#action-message{
  margin-top: 15px;
}
.action-result{
  margin-top: 15px;
}
#myContainer {
  width: 50px;
  height: 50px;
  position: relative;
  background: white;
  margin: auto;
}
